<!DOCTYPE html>
<html lang="en">
  <head> 
    <title>test模块</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <meta name="keywords" content="" />  
    <meta name="description" content="" />
    
    <link type="text/css" rel="stylesheet" href="__BOOT__/css/bootstrap.min.css" >
    <script type="text/javascript" src="__BOOT__/js/bootstrap.js" ></script>    
    
  </head>
  <body>
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>test模块</h1>
          </div>
        </div>
