{layout name="login" replace="[__REPLACE__]" /}


<div class="row">
    <div class="col-md-12" style="height: 200px;">

    </div>
</div>
<div class="row">
    <div class="col-md-4"> </div>
    <div class="col-md-4">
        <form action="/admin/index/login" method="POST">
            <p><span>
                    <h4>管理员登录</h4>
                </span></p>
            <p><span><input type="password" name="pass" width="200px" class="form-control"></span></p>
            <p><span><input type="submit" value="提交" class="btn btn-default"></span></p>
        </form>
    </div>
    <div class="col-md-4"> </div>
</div>