{include file="common/header" /} 

<div class="container-fuild">


    <div class="row">
        <div class="col-md-1 text-center">
            <p><span>                <h4>管理中心</h4>            </span></p>

            <p><span><a href="/admin/manager/user" >用户管理</a></span></p>
            <p><span><a href="/admin/manager/quit"class="btn btn-default">退出</a></span></p>
        </div>
        <div class="col-md-11">
            [__REPLACE__]
        </div>
    </div>


</div>

{include file="common/footer" /}